

<div class="card">
  <div class="card-body" *ngIf="vm$ |async as vm">
  <!-- <div class="card-body"> -->

    <div class="table-responsive">
      <div id="myTable_wrapper" class="dataTables_wrapper no-footer">


        <app-supplier-filter [basecontroller]="basecontroller"></app-supplier-filter>


        <div class="dataTables_length ml-2" id="myTable_length">
        </div>
        <div id="myTable_filter" class="dataTables_filter">
          <!-- <button type="button" data-toggle="tooltip" data-placement="top" (click)="mostrarMultipleModal()" title
            data-original-title="agregar multiple-facutras" class="btn btn-warning btn-circle btn-sm"><i
              class="fa fa-plus"></i>
          </button> -->
          <!-- <button type="button" data-toggle="tooltip" data-placement="top" (click)="showInvoiceFormModal()" title
            data-original-title="agregar Factura" class="btn btn-info btn-sm ml-2">
            <i class="fa fa-plus"> Agregar Factura</i>
          </button> -->

          <button class="btn btn-primary btn-sm ml-2" >Pagar Factura</button>

        </div>



          <table id="myTable" class="table table-bordered table-striped dataTable no-footer" role="grid"
          aria-describedby="myTable_info">
          <thead>
            <!-- <app-filter-order-by></app-filter-order-by> -->
            <tr role="row">
              <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1"
                aria-label="Position: activate to sort column ascending" (click)="functionSortBy('id')"
                >Id</th>
              <!-- <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1"
                aria-label="Position: activate to sort column ascending" (click)="functionSortBy('fecha')"
                >Fecha</th> -->
              <!-- <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1"
                aria-label="Position: activate to sort column ascending" (click)="functionSortBy('fechaPago')"
                >Fecha Pago</th> -->
              <!-- <th class="" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" aria-label="Office: "
                style="width:2%;">#</th> -->
              <!-- <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1"
                aria-label="Age: activate to sort column ascending" (click)="functionSortBy('folio')"
                style="width: 2%;">Folio</th> -->
              <!-- <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1"
                aria-label="Start date: activate to sort column ascending" (click)="functionSortBy('company')"
                style="width:30%;">Cliente</th> -->
              <!-- <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1"
                aria-label="Start date: activate to sort column ascending" (click)="functionSortBy('sucursal')"
                style="width:20%;">Sucursal</th> -->
              <!-- <th class="" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1"
                aria-label="Salary: activate to sort column ascending" style="width:5%;">Nombre Cliente</th> -->
                <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1"
                aria-label="Position: activate to sort column ascending" (click)="functionSortBy('company')"
                >Nombre Proveedor</th>
                <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1"
                aria-label="Position: activate to sort column ascending" (click)="functionSortBy('storeNum')"
                >RFC</th>
              <!-- <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1"
                aria-label="Salary: activate to sort column ascending" (click)="functionSortBy('total')"
                style="width:5%;">Total</th> -->
                <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1"
                aria-label="Position: activate to sort column ascending" (click)="functionSortBy('rfc')"
                >Categoria</th>
                <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1"
                aria-label="Position: activate to sort column ascending" (click)="functionSortBy('rfc')"
                >Calle</th>
                <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1"
                aria-label="Position: activate to sort column ascending" (click)="functionSortBy('rfc')"
                >Numero</th>
                <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1"
                aria-label="Position: activate to sort column ascending" (click)="functionSortBy('rfc')"
                >CP</th>
                <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1"
                aria-label="Position: activate to sort column ascending" (click)="functionSortBy('rfc')"
                >Telefono</th>
                <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1"
                aria-label="Position: activate to sort column ascending" (click)="functionSortBy('rfc')"
                >Email</th>
                <!-- <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1"
                aria-label="Position: activate to sort column ascending" (click)="functionSortBy('categoria')"
                >Categoria</th> -->
              <th class="" tabindex="0" aria-controls="myTable" rowspan="1" colspan="2"
                aria-label="Salary: activate to sort column ascending" style="width:5%;">Acciones</th>

              <th class="" tabindex="0" aria-controls="myTable" aria-sort="ascending"
                aria-label="Name: activate to sort column descending" style="width:2%; height:auto;">
              </th>
              <!-- <th class="form-group" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1"
                aria-label="Position: activate to sort column ascending" (click)="functionSortBy('fecha')"
                style="width:1%;">
              </th> -->
            </tr>

              <th class="" tabindex="0" aria-controls="myTable" aria-sort="ascending"
                aria-label="Name: activate to sort column descending" style="width:2%; height:auto;">
              </th>
              <th tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" style="width: 5%;">
              </th>
              <th class="" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1"
                aria-label="Start date: activate to sort column ascending" style="width:30%;">
              </th>
              <th class="" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1"
                aria-label="Salary: activate to sort column ascending" style="width:5%;">
              </th>

              <th class="" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1"
                aria-label="Salary: activate to sort column ascending" style="width:5%;">
              </th>
              <th class="" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1"
                aria-label="Salary: activate to sort column ascending" style="width:5%;">
              </th>

              <th class="" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1"
                aria-label="Salary: activate to sort column ascending" style="width:5%;">
              </th>
              <th class="" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1"
                aria-label="Salary: activate to sort column ascending" style="width:5%;">
              </th>

              <th class="" tabindex="0" aria-controls="myTable" rowspan="1" colspan="2"
                aria-label="Salary: activate to sort column ascending" style="width:5%;"></th>


          </thead>

          <tbody>
            <hr>
            <tr role="row" class="odd" *ngFor="let inv of vm.pageable.content">
            <!-- <tr role="row" class="odd" *ngFor="let inv"> -->
              <td>{{inv.id}}</td>
              <!-- <td>{{vm.fecha|date:'dd/MM/yyyy'}}</td> -->
              <!-- <td>{{inv.fechaPago|date:'dd/MM/yyyy'}}</td> -->
              <td>{{inv.company}}</td>
              <!-- <td>{{inv.storeNum}}</td> -->
              <td>{{inv.rfc}}</td>
              <td>{{inv.categoria}}</td>
              <td>{{inv.street}}</td>
              <td>{{inv.streetNumber}}</td>
              <td>{{inv.code}}</td>
              <td>{{inv.phone}}</td>
              <td>{{inv.email}}</td>
              <!-- <td>{{inv.impuesto|currency}}</td> -->
              <!-- <td>{{inv.total|currency}}</td> -->
              <!-- <td>{{inv.pago|currency}}</td> -->
              <!-- <td>{{inv.nombreArchivo}}</td> -->
              <td><button class="btn btn-primary btn-sm" (click)="verDetalle(inv)">detalle</button></td>
              <td><button class="btn btn-danger btn-sm" (click)="editCustomer(inv)">editar</button></td>

            </tr>

          </tbody>
        </table>


        <!-- <div *ngIf="vm.pageable.content.length === 0" class="alert alert-success text-center">No existen Facturas del mes en
          curso. </div> -->

       <app-supplier-list-paginator [url]="url"  [totalPages]="vm.pageable.totalPages" [first]="vm.pageable.first" [number]="vm.pageable.number" [last]="vm.pageable.last" [orderBy]="orderBy" [sortBy]="sortBy"></app-supplier-list-paginator>

      </div>
    </div>
  </div>
</div>
