
<div class="container">

  <form [formGroup]="form">
    <div class="row">
      <div class="col-md-6">

      <div class="form-group">

        <label for="product">Selecccione el producto a Producir</label>

        <div formGroupName="productName">
          <select
          class="form-control form-control-sm"
          id="productName"
          formControlName="id"
          placeholder="Seleccionar Producto"
          name="productName" (change)="selectCode($event)">
          <option>Default select</option>
          <option *ngFor="let product of products" [value]="product.id">{{
            product.name
          }}</option>
        </select>
          <!-- <select
          class="form-control form-control-sm"
          id="productName"
          formControlName="id"
          placeholder="Seleccionar Producto"
          name="productName" (change)="selectCode($event)">
          <option>Default select</option>
          <option *ngFor="let product of products" [value]="product.id">{{
            product.productName
          }}</option>
        </select> -->
        <small id="valid1" *ngIf="!form.controls['productName'].valid" class="text-danger">*Este campo es requerido.</small>

      </div>

      </div>



    <div class="form-group">

      <label for="code">Codigo del Producto</label>
      <input
      type="text"
      formControlName="code"
      class="form-control form-control-sm"
      id="code"
      aria-describedby="emailHelp"
      placeholder="Codigo del Producto"
      />
      <small id="valid1" *ngIf="!form.controls['code'].valid" class="text-danger">*Este campo es requerido.</small>
    </div>



    <div class="form-group">
      <label for="lote">Lote de Produccion</label>
      <input
        type="text"
        formControlName="batch"
        class="form-control form-control-sm"
        id="lote"
        aria-describedby="emailHelp"
        placeholder="Lote de Produccion"
      />
      <small id="valid2" *ngIf="!form.controls['batch'].valid" class="text-danger">*Este campo es requerido.</small>

    </div>
  </div>



  <div class="col-md-4">

    <div class="form-group">
      <label for="date">Fecha</label>
      <input
      type="date"
      formControlName="initialDate"
      class="form-control form-control-sm"
      id="initialDate"
      aria-describedby="emailHelp"
      placeholder="Fecha de Produccion"
      />
      <small id="valid3" *ngIf="!form.controls['initialDate'].valid" class="text-danger">*Este campo es requerido.</small>
    </div>

    <div class="form-group">
      <label for="datefinal">Fecha Final</label>
      <input
        type="date"
        formControlName="finalDate"
        class="form-control form-control-sm"
        id="finalDate"
        aria-describedby="emailHelp"
        placeholder="Fecha final de Produccion"
        />
        <small id="valid4" *ngIf="!form.controls['finalDate'].valid" class="text-danger">*Este campo es requerido.</small>

      </div>

      <div class="form-group">


        <label for="lote">Cantidad a Producir</label>
        <input
        type="text"
        formControlName="quantity"
        class="form-control form-control-sm"
        id="quantity"
        aria-describedby="emailHelp"
        placeholder="Cantidad a producir"
        (keyup)="recalculateCost()"
        />
        <small id="valid5" *ngIf="!form.controls['quantity'].valid" class="text-danger">*Este campo es requerido.</small>

      </div>


    </div>


  </div>

  <div class="row">


      <label for="observ">Observaciones</label>
      <input
      type="text"
      formControlName="observation"
      class="form-control"
      id="obsev"
      aria-describedby="emailHelp"
      placeholder="Observaciones"
      />



  </div>


     <div class="row pt-4">
      <!-- <div class="form-gorup col-md-4">

        <label for="costo">Costo Unitario</label>
        <input  type="number"
        readonly
        ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
        formControlName="cost"
        class="form-control form-control-sm"
        step="0.01"
        id="costo" placeholder="Costo Unitario">

      </div>  -->


      <!-- <div class="form-group col-md-4">


        <label for="costototal">Costo Total</label>
        <input type="number"
        readonly
        ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
        formControlName="totalCost"
        step="0.01"
        class="form-control form-control-sm"
        id="totalCost" placeholder="Costo Total">

      </div> -->
      <div class="col-md-6">
        <div class="poliza-wallet card">
            <div class="d-flex flex-row">
                <div class="p-10 bg-primary">
                    <h3 class="text-white box m-b-0"><i class="ti-package"></i></h3></div>
                <div class="align-self-center m-l-20">
                    <h3 class="m-b-0 text-black">{{this.form.get('cost').value|currency}}</h3>
                    <h5 class="text-muted m-b-0">Costo Unitario</h5></div>
            </div>
        </div>
      </div>



      <div class="col-md-6">
        <div class="poliza-wallet card">
            <div class="d-flex flex-row">
                <div class="p-10 bg-info">
                    <h3 class="text-white box m-b-0"><i class="ti-money"></i></h3>
                </div>
                <div class="align-self-center m-l-20">
                    <h3 class="m-b-0 text-black">{{form.get('totalCost').value|currency}}</h3>
                    <h5 class="text-muted m-b-0">Costo Total de Materiales</h5>
                </div>
            </div>
        </div>
      </div>

    </div>

<!--
    <button class="btn btn-primary" (click)="_form.addMaterials()">
      Agregar Materiales
    </button> -->
    <h3>Agrege Materiales utilizados en la produccion</h3>
    <hr />

    <!-- SE AGREGAN LOS MATERIALES PARA LA PRODUCCION -->

    <div formArrayName="itemRawMaterials" >
      <div *ngFor="let material of materials.controls; let i = index">
        <div [formGroupName]="i">
          <div class="row">

            <div class="form-group col-md-2">
              <label for="inputState">Cantidad</label>
             <div class="input-group">
                <input
                  type="number"
                  formControlName="quantity"
                  class="form-control"
                   aria-describedby="emailHelp"
                  placeholder="CANT UTILIZADA"
                  (change)="inputChange($event, i)"
                  (keyup)="inputChange($event, i)"
                />
                <!-- <small id="quantity2" class="form-text text-muted">Cantidad Utilizada.</small> -->
              <!-- </div> -->
            </div>
          </div>


            <div class="form-group col-md-4">
              <label for="inputState">Seleccione materia prima</label>
              <div class="input-group">
                  <div class="input-group-addon"><i class="ti-view-list"></i></div>
                  <select class="form-control"
                  formControlName="rawMaterialName"
                  placeholder="Seleccionar Producto"
                  name="nameProduct"

                  (change)="selectedItem($event, _form.products, i)">
                   <option  *ngFor="let product of rawMaterials" [value]="product.name">{{ product.name }}</option>
                </select>
              </div>

            </div>


            <div class="form-group col-md-2">
              <label for="inputState">Costo Uintario</label>
             <div class="input-group">
                <input
                  type="text"
                  formControlName="unitCost"
                  class="form-control"
                  aria-describedby="emailHelp"
                  placeholder="Costo Unit"
                  (keyup)="inputUnitCost($event, i)"/>
                <!-- <small id="namecostunit" class="form-text text-muted">Costo Unitario.</small> -->

              </div>
            </div>

            <div class="col-md-2">
              <div class="form-group">
                <label for="exampleInputEmail1">Total</label>
                <input
                  type="number"
                  formControlName="total"
                  class="form-control"
                  aria-describedby="emailHelp"
                  placeholder="Total"
                  readonly />
                <!-- <small id="total1" class="form-text text-muted" >Total en pesos del material utilizado.</small> -->
              </div>
            </div>


            <div class="col flex flex-box" style="cursor: pointer">
              <!-- <button type="button" (click)="this._poliza.addItem()" class="btn btn-outline-primary btn-sm">
                    Agregar
                  </button> -->
                  <a data-toggle="tooltip" class="p-1" (click)="addMaterials()" data-original-title="Agregar Items"><i class="ti-arrow-down text-info m-r-10"></i> </a>

                  <a data-toggle="tooltip" class="p-1" (click)="removeMaterials(i)" data-original-title="Borrar Items"><i class="ti-trash text-danger m-r-10"></i> </a>
          </div>


          </div>
        </div>
        <hr>
      </div>
    </div>
    <hr />
    <button type="button" class="btn btn-primary btn-lg btn-block" [disabled]="!form.valid" type="submit" (click)="onSubmit()">
      AGREGAR PRODUCCION
      <!-- <mat-icon matSuffix>local_atm</mat-icon> -->
    </button>
    <button type="button" class="btn btn-secondary btn-lg btn-block" type="submit" (click)="cleanForm()">
      LIMPIAR FORMULARIO
      <!-- <mat-icon matSuffix>local_atm</mat-icon> -->
    </button>
  </form>
  <hr>
  <small>Esta forma es solamente para dar de alta la produccion, no es una requisicion de Produccion</small>
</div>
