<div class="card-body" *ngIf="supplier">
  <form class="form-horizontal" role="form">
    <div class="form-body">
      <h3 class="box-title">Datos del Cliente</h3>
      <div class="col-md-6">
        <div class="form-group row">
          <label class="control-label text-right col-md-3">No Sucursal:</label>
          <div class="col-md-6">
            <p class="form-control-static"> {{this.supplier.storeNum}} </p>
          </div>
         </div>
      </div>
      <!-- <div class="col-md-6">
        <div class="form-group row">
          <label class="control-label text-right col-md-3">Categoria:</label>
          <div class="col-md-6">
            <p class="form-control-static"> {{this.customer.categoria}} </p>
          </div>
         </div>
      </div> -->
      <hr class="m-t-0 m-b-40">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="control-label text-right col-md-3">Cliente:</label>
            <div class="col-md-9">
              <p class="form-control-static"> {{this.supplier.company}} </p>
            </div>
          </div>
        </div>
        <!--/span-->
        <div class="col-md-6">
          <div class="form-group row">
            <label class="control-label text-right col-md-3">RFC:</label>
            <div class="col-md-9">
              <p class="form-control-static">{{supplier.rfc}} </p>
            </div>
          </div>
        </div>
        <!--/span-->
      </div>
      <!--/row-->
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="control-label text-right col-md-3">RFC:</label>
            <div class="col-md-9">
              <p class="form-control-static"> {{supplier.rfc}} </p>
            </div>
          </div>
        </div>
        <!--/span-->
        <div class="col-md-6">
          <div class="form-group row">
            <label class="control-label text-right col-md-3">Credito:</label>
            <div class="col-md-9">
              <p class="form-control-static"> {{supplier.creditDays}} </p>
            </div>
          </div>
        </div>
        <!--/span-->
      </div>
      <!--/row-->
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="control-label text-right col-md-3">Categoria:</label>
            <div class="col-md-9">
              <p class="form-control-static"> {{supplier.categoria}}</p>
            </div>
          </div>
        </div>
        <!--/span-->
        <div class="col-md-6">
          <div class="form-group row">
            <label class="control-label text-right col-md-3">Fecha de Pago:</label>
            <div class="col-md-9">
              <!-- <p class="form-control-static">{{invoice.fechaPago|date}} </p> -->
            </div>
          </div>
        </div>
        <!--/span-->
      </div>
      <!--/row-->
      <h3 class="box-title">Direccion</h3>
      <hr class="m-t-0 m-b-40">
        <div class="row" >
        <div class="col-md-6">
          <div class="form-group row">
            <label class="control-label text-right col-md-3">Calle:</label>
            <div class="col-md-9">
              <p  class="form-control-static">{{supplier.street}}</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="control-label text-right col-md-3">Num:</label>
            <div class="col-md-9">
              <p class="form-control-static"> {{supplier.streetNumber}} </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="control-label text-right col-md-3">Colonia:</label>
            <div class="col-md-9">
              <p class="form-control-static"> {{supplier.colonia}} </p>
            </div>
          </div>
        </div>
        <!--/span-->

        <div class="col-md-6">
          <div class="form-group row">
            <label class="control-label text-right col-md-3">CP:</label>
            <div class="col-md-9">
              <p class="form-control-static"> {{supplier.code}} </p>
            </div>
          </div>
        </div>
        <!--/span-->
      </div>
      <!--/row-->
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="control-label text-right col-md-3">Telefono:</label>
            <div class="col-md-9">
              <p class="form-control-static"> {{supplier.phone}} </p>
            </div>
          </div>
        </div>
        <!--/span-->
        <div class="col-md-6">
          <div class="form-group row">
            <label class="control-label text-right col-md-3">Email:</label>
            <div class="col-md-9">
              <p class="form-control-static"> {{supplier.email}}</p>
            </div>
          </div>
        </div>
        <!--/span-->
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="control-label text-right col-md-3">Ciudad:</label>
            <div class="col-md-9">
              <p class="form-control-static"> {{supplier.municipio}} </p>
            </div>
          </div>
        </div>
        <!--/span-->
        <div class="col-md-6">
          <div class="form-group row">
            <label class="control-label text-right col-md-3">Estado:</label>
            <div class="col-md-9">
              <p class="form-control-static"> {{supplier.estado}}</p>
            </div>
          </div>
        </div>
        <!--/span-->
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="control-label text-right col-md-3">Pais:</label>
            <div class="col-md-9">
              <p class="form-control-static"> {{supplier.pais}} </p>
            </div>
          </div>
        </div>
        <!--/span-->
        <div class="col-md-6">
          <div class="form-group row">
            <label class="control-label text-right col-md-3">Activo:</label>
            <div class="col-md-9" *ngIf="!supplier.status">
             <h3>
               <span class="badge badge-danger form-control-static">{{supplier.status}}</span>
             </h3>
            </div>
            <div class="col-md-9" *ngIf="supplier.status">
             <h3>
               <span class="badge badge-success form-control-static">{{supplier.status}}</span>
             </h3>
            </div>
          </div>
        </div>
        <!--/span-->
      </div>

    </div>
    <div class="form-actions">
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <!-- <div class="col-md-offset-3 col-md-9">
                          <button type="submit" class="btn btn-danger"> <i class="fa fa-pencil"></i> Edit</button>
                          <button type="button" class="btn btn-inverse">Cancel</button>
                      </div> -->
                      <div class="col-sm-3">
                        <button (click)="editar()" class="btn btn-info waves-effect waves-light m-t-10">Editar</button>
                      </div>
          </div>
        </div>
        <div class="col-md-6"> </div>
      </div>
    </div>
  </form>


</div>
