<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Oprima el boton izquierdo del mouse para seleccionar</h5>
    <button type="button" (click)="cerrarMultipleModalUpload()" class="close" data-dismiss="modal"
      aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="container">

    <form [formGroup]="uploadForm" (ngSubmit)="submitForm()">

      <div class="form-group">

        <!-- <label for="name">Name</label>

        <input formControlName="name" id="name" type="text" class="form-control"> -->

        <!-- <div *ngIf="f.name.touched && f.name.invalid">

  <div *ngIf="f.name.errors.required">Filename is required</div> -->

      </div>

      <!-- </div> -->

      <div class="form-group">

        <label for="file">Seleccione los archivos para enviar</label>

        <input formControlName="file" id="file" type="file" multiple class="form-control" #fileUploader
          (change)="onFileChange($event)" (click)="deleteAllFiles()">

        <!-- <div *ngIf="f.file.touched && f.file.invalid">
  <div *ngIf="f.file.errors.required">Choose a file</div> -->
      </div>
      <!-- </div> -->
    </form>
  </div>

<div class="container">

<div *ngIf="isError" class="alert alert-warning">
<button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">×</span> </button>
<h3 class="text-warning"><i class="fa fa-exclamation-triangle"></i> Warning</h3>
Los siguientes archivos no se enviaron al servidor, es posible que esten duplicados.
<div *ngFor="let err of this.errorFiles">
  <li>{{err}}</li>
</div>
</div>
</div>


  <div class="card-body">
    <h4 class="card-title">Lista de Archivos para enviar</h4>
    <h6 class="card-subtitle">Agregar<code>.archivos en formato xml del Cliente</code>revise bien que sean archivos
      de Venta.</h6>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Archivo</th>
            <th>Bites</th>
            <th>Progress</th>
            <th>fecha</th>
            <th><i class="fa fa-trash-o"></i></th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let f of selectedFiles; let i = index">
            <td>{{f.name}}</td>
            <td><span class="label label-info">{{f.size/1000 | number}} KB</span></td>

            <td>
              <!-- <div *ngFor="let progressInfo of progressInfos" class="mb-2"> -->
              <!-- <span>{{ progressInfo.fileName }}</span> -->
              <div *ngIf="this.progressInfos.length > 0" class="progress">
                <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
                  attr.aria-valuenow="{{ this.progressInfos[i].value }}" aria-valuemin="0" aria-valuemax="100"
                  [ngStyle]="{ width: this.progressInfos[i].value + '%' }"
                  >
                  {{ this.progressInfos[i].value }}%
                </div>
              </div>
              <!-- </div> -->
            </td>
            <td>{{f.lastModifiedDate|date}}</td>
            <td>
              <a data-toggle="tooltip" data-placement="top" (click)="borrarUnArchivo(i)" title
                data-original-title="Borrar Archivo"> <i class="fa fa-close text-danger"></i> </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">

    <button type="button" (click)="cerrarMultipleModalUpload()" class="btn-secondary"
      data-dismiss="modal">Close</button>
    <button class="btn-danger" (click)="borrarInput()">borrar archivos</button>
    <button type="button" [disabled]="!select" (click)="uploadFiles()" class="btn-primary">Enviar
      Archivo</button>
  </div>
</div>
