<tr role="row">
  <th class="sorting_asc" tabindex="0" aria-controls="myTable" aria-sort="ascending"
    aria-label="Name: activate to sort column descending" style="width:2%; height:auto;">#</th>
  <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1"
    aria-label="Position: activate to sort column ascending" (click)="functionOrderBy('fecha')"
    >Fecha</th>
  <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1"
    aria-label="Position: activate to sort column ascending" (click)="functionOrderBy('fecha')"
    style="width: 1%;">Fecha Pago</th>
  <th class="" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" aria-label="Office: "
    style="width:2%;">#</th>
  <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1"
    aria-label="Age: activate to sort column ascending" (click)="functionOrderBy('folio')"
    style="width: 5%;">Folio</th>
  <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1"
    aria-label="Start date: activate to sort column ascending" (click)="functionOrderBy('company')"
    style="width:30%;">Cliente</th>
  <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1"
    aria-label="Start date: activate to sort column ascending" (click)="functionOrderBy('sucursal')"
    style="width:20%;">Sucursal</th>
  <th class="" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1"
    aria-label="Salary: activate to sort column ascending" style="width:5%;">SubTotal</th>
  <th class="" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1"
    aria-label="Salary: activate to sort column ascending" style="width:5%;">Impuesto</th>
  <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1"
    aria-label="Salary: activate to sort column ascending" (click)="functionOrderBy('total')"
    style="width:5%;">Total</th>
  <th class="" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1"
    aria-label="Salary: activate to sort column ascending" style="width:5%;">Archivo</th>
  <th class="" tabindex="0" aria-controls="myTable" rowspan="1" colspan="2"
    aria-label="Salary: activate to sort column ascending" style="width:5%;">Acciones</th>

  <th class="" tabindex="0" aria-controls="myTable" aria-sort="ascending"
    aria-label="Name: activate to sort column descending" style="width:2%; height:auto;">
  </th>
  <th class="form-group" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1"
    aria-label="Position: activate to sort column ascending" (click)="functionOrderBy('fecha')"
    style="width:1%;">
  </th>

  <th class="" tabindex="0" aria-controls="myTable" aria-sort="ascending"
    aria-label="Name: activate to sort column descending" style="width:2%; height:auto;">
  </th>
  <th tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" style="width: 5%;">
  </th>
  <th class="" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1"
    aria-label="Start date: activate to sort column ascending" style="width:30%;">
  </th>
  <th class="" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1"
    aria-label="Salary: activate to sort column ascending" style="width:5%;">
  </th>

  <th class="" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1"
    aria-label="Salary: activate to sort column ascending" style="width:5%;">
  </th>
  <th class="" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1"
    aria-label="Salary: activate to sort column ascending" style="width:5%;">
  </th>

  <th class="" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1"
    aria-label="Salary: activate to sort column ascending" style="width:5%;">
  </th>

  <th class="" tabindex="0" aria-controls="myTable" rowspan="1" colspan="2"
    aria-label="Salary: activate to sort column ascending" style="width:5%;"></th>
</tr>
