<div class="col-md-6">
  <div class="card card-body">
    <h3 class="box-title m-b-0">Editar Movimiento Bancario</h3>
    <!-- <p class="text-muted m-b-30 font-13"> Use Bootstrap's predefined grid classes for horizontal form </p> -->
    <form [formGroup]="form.formBankMov" class="form-horizontal">
      <!-- <form  #f="ngForm" (ngSubmit)=onSubmit(f) class="form-horizontal"> -->

      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-3 text-right control-label col-form-label">Numero de la Cuenta</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" formControlName="cuenta" id="company"
            placeholder="Numero de la Cuenta">
          <!-- <input type="text" [required]='' class="form-control" id="inputEmail3" placeholder="Nombre del Cliente" [(ngModel)]="custom.company" [ngModelOptions]="{standalone: true}"> -->
          <div *ngIf="form.formBankMov.get('cuenta').hasError('required')" class="form-control-feedback text-danger">
            *Este campo es requerido</div>
          <div *ngIf="form.formBankMov.get('cuenta').hasError('minlength')" class="form-control-feedback text-danger">
            *Agrege 3 Caracteres minimo</div>
          <div *ngIf="form.formBankMov.get('cuenta').hasError('maxlength')" class="form-control-feedback text-danger">
            *Agrege 50 Caracteres maximo</div>
          <!-- <div *ngIf="company.invalid && (name.dirty || name.touched)" class="alert alert-danger"></div> -->
        </div>
      </div>


      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-3 text-right control-label col-form-label">Fecha</label>
        <div class="col-sm-9">
          <input type="datetime" class="form-control" formControlName="fechag" id="storeNum"
            placeholder="Numero de Sucursal">
          <!-- <input type="text" class="form-control" name="storeNum" id="inputEmail3" placeholder="Numero de Sucursal"[(ngModel)]="custom.storeNum" [ngModelOptions]="{standalone: true}"> -->
          <div *ngIf="form.formBankMov.get('fechag').hasError('required')" class="form-control-feedback text-danger">
            *Este campo es requerido</div>

        </div>
      </div>

      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-3 text-right control-label col-form-label">Fecha Operacion</label>
        <div class="col-sm-9">
          <input type="datetime" class="form-control" formControlName="fechaOpg" id="storeNum"
            placeholder="Numero de Sucursal">
          <!-- <input type="text" class="form-control" name="storeNum" id="inputEmail3" placeholder="Numero de Sucursal"[(ngModel)]="custom.storeNum" [ngModelOptions]="{standalone: true}"> -->
          <div *ngIf="form.formBankMov.get('fechaOpg').hasError('required')" class="form-control-feedback text-danger">
            *Este campo es requerido</div>

        </div>
      </div>

      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-3 text-right control-label col-form-label">Referencia</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" formControlName="referencia" id="referencia" placeholder="Referencia">
          <!-- <input type="text" class="form-control" name="storeNum" id="inputEmail3" placeholder="Numero de Sucursal"[(ngModel)]="custom.storeNum" [ngModelOptions]="{standalone: true}"> -->
          <div *ngIf="form.formBankMov.get('referencia').hasError('required')"
            class="form-control-feedback text-danger">*Este campo es requerido</div>

        </div>
      </div>

      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-3 text-right control-label col-form-label">Descripcion</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" formControlName="descripcion" id="descripcion"
            placeholder="Descripcion">
          <!-- <input type="text" class="form-control" name="storeNum" id="inputEmail3" placeholder="Numero de Sucursal"[(ngModel)]="custom.storeNum" [ngModelOptions]="{standalone: true}"> -->
          <div *ngIf="form.formBankMov.get('descripcion').hasError('required')"
            class="form-control-feedback text-danger">*Este campo es requerido</div>

        </div>
      </div>

      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-3 text-right control-label col-form-label">Depositos</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" formControlName="depositos" id="descripcion"
            placeholder="Descripcion">
          <!-- <input type="text" class="form-control" name="storeNum" id="inputEmail3" placeholder="Numero de Sucursal"[(ngModel)]="custom.storeNum" [ngModelOptions]="{standalone: true}"> -->
          <div *ngIf="form.formBankMov.get('depositos').hasError('required')"
            class="form-control-feedback text-danger">*Este campo es requerido</div>

        </div>
      </div>

      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-3 text-right control-label col-form-label">Retiros</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" formControlName="retiros" id="descripcion"
            placeholder="Retiro">
          <!-- <input type="text" class="form-control" name="storeNum" id="inputEmail3" placeholder="Numero de Sucursal"[(ngModel)]="custom.storeNum" [ngModelOptions]="{standalone: true}"> -->
          <div *ngIf="form.formBankMov.get('retiros').hasError('required')"
            class="form-control-feedback text-danger">*Este campo es requerido</div>

        </div>
      </div>

      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-3 text-right control-label col-form-label">Movimiento</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" formControlName="movimiento" id="descripcion"
            placeholder="Retiro">
          <!-- <input type="text" class="form-control" name="storeNum" id="inputEmail3" placeholder="Numero de Sucursal"[(ngModel)]="custom.storeNum" [ngModelOptions]="{standalone: true}"> -->
          <div *ngIf="form.formBankMov.get('movimiento').hasError('required')"
            class="form-control-feedback text-danger">*Este campo es requerido</div>

        </div>
      </div>

      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-3 text-right control-label col-form-label">Descripcion Detallada</label>
        <div class="col-sm-9">
          <textarea type="text" rows="4" cols="80"  class="form-control" formControlName="descripcionDetallada" id="descripcion"
            placeholder="Descripcion Detallada"></textarea>
          <!-- <input type="text" class="form-control" name="storeNum" id="inputEmail3" placeholder="Numero de Sucursal"[(ngModel)]="custom.storeNum" [ngModelOptions]="{standalone: true}"> -->
          <div *ngIf="form.formBankMov.get('descripcionDetallada').hasError('required')"
            class="form-control-feedback text-danger">*Este campo es requerido</div>

        </div>
      </div>



      <!-- <div class="form-group row">
                <label for="inputEmail3" class="col-sm-3 text-right control-label col-form-label">Seleccione Categoria de Conte Cliente</label>
                <div class="col-sm-9">
                  <select formControlName="categoria">
                    <option *ngFor="let c of customerType"[value]="c.name" >{{c.name}}</option>
                  </select>
                  <div *ngIf="form.formBankMov.get('categoria').hasError('required')" class="form-control-feedback text-danger">*Este campo es requerido</div>
                  <button type="button" data-toggle="tooltip" data-placement="top" (click)="mostrarTypeModal()" title
                  data-original-title="agregar un tipo de cliente" class="btn btn-warning btn-circle btn-sm"><i
                    class="fa fa-plus"></i>
                </button>
              </div>
          </div> -->

      <h3>Datos de Direccion</h3>
      <hr>

      <div class="form-group row">
        <div class="offset-sm-3 col-sm-9">
          <div class="checkbox checkbox-success">
            <input id="checkbox33" type="checkbox">
            <!-- <input id="checkbox33" type="checkbox" [(ngModel)]="custom.status" [ngModelOptions]="{standalone: true}"> -->
            <label for="checkbox33">Activo</label>
          </div>
        </div>
      </div>
      <div class="form-group m-b-0 row">
        <div class="col-sm-3">
          <button *ngIf="!edit" [disabled]="!form.formBankMov.valid" (click)="form.submit()"
            class="btn btn-info waves-effect waves-light m-t-10">Agregar Cliente</button>
          <!-- <button   type=submit class="btn btn-info waves-effect waves-light m-t-10">Agregar Cliente</button> -->
        </div>
        <div *ngIf="edit" class="col-sm-3">
          <button type=submit class="btn btn-warning waves-effect waves-light m-t-10" (click)="form.edit()">Editar
            Cliente</button>
        </div>
        <div class="col-sm-3">
          <button (click)="form.cleanForm()" class="btn btn-danger waves-effect waves-light m-t-10">Borrar
            Forma</button>
        </div>
      </div>

    </form>
  </div>
</div>
