<div class="card-body"  *ngIf ="invoice" >
  <div class="form-horizontal" role="form">
    <div class="form-body">
      <h3 class="box-title">Factura</h3>
      <div class="col-md-6">
        <div class="form-group row">
          <label class="control-label text-right col-md-3">No:</label>
          <div class="col-md-9" >
            <p class="form-control-static">{{invoice.folio}}</p>
          </div>
        </div>
      </div>
      <hr class="m-t-0 m-b-40">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="control-label text-right col-md-3">Cliente:</label>
            <div class="col-md-9">
              <p class="form-control-static"> {{invoice.company}} </p>
            </div>
          </div>
        </div>
        <!--/span-->
        <div class="col-md-6">
          <div class="form-group row">
            <label class="control-label text-right col-md-3">RFC:</label>
            <div class="col-md-9">
              <p class="form-control-static">{{invoice.customer.rfc}} </p>
            </div>
          </div>
        </div>
        <!--/span-->
      </div>
      <!--/row-->
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="control-label text-right col-md-3">Gender:</label>
            <div class="col-md-9">
              <p class="form-control-static"> Male </p>
            </div>
          </div>
        </div>
        <!--/span-->
        <div class="col-md-6">
          <div class="form-group row">
            <label class="control-label text-right col-md-3">Fecha:</label>
            <div class="col-md-9">
              <p class="form-control-static"> {{invoice.fecha|date}} </p>
            </div>
          </div>
        </div>
        <!--/span-->
      </div>
      <!--/row-->
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="control-label text-right col-md-3">Category:</label>
            <div class="col-md-9">
              <p class="form-control-static"> Category1 </p>
            </div>
          </div>
        </div>
        <!--/span-->
        <div class="col-md-6">
          <div class="form-group row">
            <label class="control-label text-right col-md-3">Fecha de Pago:</label>
            <div class="col-md-9">
              <p class="form-control-static">{{invoice.fechaPago|date}} </p>
            </div>
          </div>
        </div>
        <!--/span-->
      </div>
      <!--/row-->
      <h3 class="box-title">Direccion</h3>
      <hr class="m-t-0 m-b-40">
      <div class="row" *ngIf="invoice.customer.customerAddress">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="control-label text-right col-md-3">Calle</label>
            <div class="col-md-9">
              <p class="form-control-static">{{invoice.customer.customerAddress.street}} </p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="control-label text-right col-md-3">Numero:</label>
            <div class="col-md-9">
              <p class="form-control-static"> {{invoice.customer.customerAddress.number}} </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="invoice.customer.customerAddress">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="control-label text-right col-md-3">Ciudad:</label>
            <div class="col-md-9">
              <p class="form-control-static"> {{invoice.customer.customerAddress.city}} </p>
            </div>
          </div>
        </div>
        <!--/span-->
        <div class="col-md-6">
          <div class="form-group row">
            <label class="control-label text-right col-md-3">Estado:</label>
            <div class="col-md-9">
              <p class="form-control-static"> {{invoice.customer.customerAddress.state}} </p>
            </div>
          </div>
        </div>
        <!--/span-->
      </div>
      <!--/row-->
      <div class="row" *ngIf="invoice.customer.customerAddress">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="control-label text-right col-md-3">Codigo Postal:</label>
            <div class="col-md-9">
              <p class="form-control-static"> {{invoice.customer.customerAddress.code}} </p>
            </div>
          </div>
        </div>
        <!--/span-->
        <div class="col-md-6">
          <div class="form-group row">
            <label class="control-label text-right col-md-3">Pais:</label>
            <div class="col-md-9">
              <p class="form-control-static"> {{invoice.customer.customerAddress.country}} </p>
            </div>
          </div>
        </div>
        <!--/span-->
      </div>
    </div>
    <div class="form-actions">
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <!-- <div class="col-md-offset-3 col-md-9">
                          <button type="submit" class="btn btn-danger"> <i class="fa fa-pencil"></i> Edit</button>
                          <button type="button" class="btn btn-inverse">Cancel</button>
                      </div> -->
          </div>
        </div>
        <div class="col-md-6"> </div>
      </div>
    </div>
  </div>
  <div class="card" >
    <div class="card-body">
      <h4 class="card-title">Detalle de Factura</h4>
      <!-- <h6 class="card-subtitle">Add class <code>.table</code></h6> -->
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Cantidad</th>
              <th>Clave</th>
              <th>Descripcion</th>
              <th>Unidad</th>
              <th>P.U.</th>
              <th>Importe</th>
            </tr>
          </thead>
          <tbody >
            <tr *ngFor ="let inv of invoice.invoiceItems let index = index">
              <td>{{index+1}}</td>
              <td>{{inv.cantidad}}</td>
              <td>{{inv.claveUnidad}}</td>
              <td>{{inv.descripcion}}</td>
              <td>{{inv.unidad}}</td>
              <td>{{inv.valorUnitario|currency}}</td>
              <td>{{inv.importe|currency}}</td>
              <td><span class="label label-danger">admin</span> </td>
            </tr>

            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><h4>Total</h4></td>
              <td></td>
              <td><h4>{{invoice.total|currency}}</h4></td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
