<div class="modal-fade fondo-negro animated fadein" role="dialog" [ngClass] ="_modalService.modalUser">


  <!-- <div class="modal" style="display: block;" tabindex="-1" role="dialog"> -->

    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
      <div class="modal-poliza modal-content">
        <div class="modal-header">
          <app-modal-icon></app-modal-icon>
          <h2 class="modal-title" *ngIf="!this._formUserService.userId">{{title}}</h2>
          <h2 class="modal-title" *ngIf="this._formUserService.userId">{{titleEdit}}</h2>

            <button type="button" (click) = "_modalService.cerrarModalUserRegister()" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
       <!-- ============================================================== -->
       <!-- Comienza contenido del Modal  -->
       <!-- ============================================================== -->

       <div class="col-md-12 pt-4">
        <div class="card card-body">
            <!-- <h3 class="box-title m-b-0">Sample Basic Forms</h3> -->
            <!-- <p class="text-muted m-b-30 font-13"> Bootstrap Elements </p> -->
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                   <app-form-user-register></app-form-user-register>
                </div>
            </div>
        </div>
    </div>


       <!-- ============================================================== -->
       <!-- Finaliza contenido del Modal  -->
       <!-- ============================================================== -->

        <div class="modal-footer">
          <!-- <button type="button"  class="btn btn-secondary" data-dismiss="modal">Close</button> -->
          <!-- <button type="button"  class="btn btn-primary">Enviar Archivo</button> -->
        </div>
      </div>
    </div>
  <!-- </div> -->
