

              <tr>{{invoice.id}}</tr>
              <tr>{{invoice.fecha | date: 'dd/MM/yyyy'}} </tr>
              <tr>{{invoice.fechaPago | date: 'dd/MM/yyyy'}} </tr>
              <tr>{{invoice.folio}}</tr>

              <!-- <th>{{invoice.company}}</th>
              <th>{{invoice.sucursal}}</th>
              <th>{{invoice.subTotal|currency}}</th>
              <th>{{invoice.impuesto|currency}}</th>
              <th>{{invoice.total|currency}}</th>
              <th>{{inv.nombreArchivo}}</th>
              <th><span class="label label-warning">pagar</span></th>
              <th><span class="label label-info">admin</span></th> -->




